/*Sets page font color and fnat style*/
* {
	font-family: 'Nobile', sans-serif;
	color:#545454;
}

/*Sets site background color*/
body {
  background-color: #EEEEEE;
}

/*Video Container*/
#bgVideoContainer { 
  position:relative;
}

video {
  width: 100%;
  max-height: 100%;
}


#videoIntro {
  width: 100%;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  top: -40px;
  overflow: hidden;
}

.videoTextOverlay {
    position:absolute;
    top:0;
    left:0;
    z-index:0;
    margin-left: 25px;
    margin-top: 25px;
}

h1 {
  color: white;
  font-size: 5vw;
  text-align: center;
  text-shadow: 2px 2px #000;
}
/*End of video*/

/*About Me*/

#nameAtTop {
  text-align: left;
}

#aboutMeDiv {
  text-align: left;
  margin-top: 25px;
  top: -40px;
}

.profilePic {
  margin-top: 30px;
  width: 100%;
  height: auto;
}

.aboutMeText {
  font-size: 16pt;
}

.page-header {
  text-align: center;
}

/*Skills*/
#skillsContainer {
  margin-top: 25px;
  margin-bottom: 25px;
}

.row > div {  
  min-height: 75px;
  height: 100%;
}

.row > div > h2, h3, h4{  
  text-align: center;
}

.row > div > div > div >img {
  margin: 2px;
  width: 90%;
  height: auto;
}

/*End of skills*/


/*Projects*/
#projectImg {
  width: 250px;
  height: 150px;
}

.project {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-box-shadow: 8px 8px 14px #C0C0C0;
    -moz-box-shadow: 8px 8px 14px #C0C0C0;
    border-radius: 4px;
    box-shadow: 8px 8px 14px #C0C0C0;
    background-color: #DDDDDD;
    padding: 10px;
    font-size: 12pt;
    color: #888888;
    position: relative;
    max-width: 900px;
    margin: 0 auto 30px auto;
    overflow: hidden;
}

.project > .img {
  float: left;
  margin-top: 1%;
}

.project > .desc {
  text-align: left;
}

div > h2{  
  text-align: center;
}

#projectsContainer {
  margin-top: 25px;
}


/*End of projects*/

/*Contant Us*/

#contactMeDiv {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25%;
  margin-right: 25%;
}

.socail {
  margin-top: 25px;
  text-align: center;
}

.contactImg {
  margin: 15px;
}

/*End of contact*/